<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Payment Processing</title>
</head>
<body>
  <h1>Please wait...</h1>
  <form name="payment-form" action="/dev/paypal" method="post">
    <input type='hidden' name='price' value='' id='price'>
    <input type='hidden' name='currency' value='' id='currency'>
  </form>
</body>
</html>
